<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/story3/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar" id="navbar">
            <ul>
                <li id="irfancen"><a href="/">irfancen</a></li>
                <div class="links">
                    <li><a id="nav-but" onclick="navbar()">≡</a></li>
                    <div id="cont-nav">
                        <li><a href="/#home" onclick="smoothScroll(document.getElementById('home'))">Home</a></li>
                        <li><a href="/#about" onclick="smoothScroll(document.getElementById('about'))">About</a></li>
                        <li><a href="/#profile" onclick="smoothScroll(document.getElementById('profile'))">Profile</a></li>
                        <li><a href="/#contact" onclick="smoothScroll(document.getElementById('contact'))">Contact</a></li>
                    </div>
                </div>
            </ul>
        </div>
        <script src="{% static 'story3/navbar.js' %}"></script>
    </body>
</html>