<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'story5/styles.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Story 5 - M. Irfan Junaidi</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navbar" style="background-color: rgb(56, 174, 220)">
			<a class="navbar-brand pl-5" href="/">irfancen</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<hr class="mt-0 mb-0 bg-light">
				<ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-5">
					<li class="nav-item">
						<a class="nav-link" id="co" href="/">Courses</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="ac" href="/add">Add Course</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/story1">Story 1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/story3">Story 3</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block content %}
		{% endblock content %}
		<script src="{% static 'story5/navbar.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
		<script>
			$('.navbar-nav .nav-link').click(function(){
			$('.navbar-nav .nav-link').removeClass('active');
			$(this).addClass('active');})
		</script>
	</body>
</html>