{% extends 'story5/_navbar.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">	
  <div class="row justify-content-center">
    <div class="col-8">
      {% if task == 'add' %}
        <h1 class="mt-4">Add Course</h1>
      {% else %}
        <h1 class="mt-4">Update Course</h1>
      {% endif %}
      <hr class="mt-0 mb-4">
      <form method="POST" class="is-valid">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% if task == 'add' %}
<script>
  $('#ac').addClass('active');
</script>
{% endif %}
{% endblock content %}