{% extends 'story5/_navbar.html' %}
{% block content %}
<div class="container">
  <div class="row-lg justify-content-center">
    <div class="col-8 pt-2" style="display: block; max-width: 90%;">
      <div style="overflow-wrap: break-word;">
        <h1 class="text-break mt-4">{{ course.course }}</h1>
      </div>
      <hr class="mt-0 mb-5">
      <div class="row mb-4">
        <div class="col-8">
          <h2 class="font-weight-bold">Lecturer</h2>
          <div style="display: block; max-width: 100%; overflow-wrap: break-word;">
            <h4 class="text-capitalize text-break">{{ course.lecturer }}</h4>
          </div>
        </div>
        <div class="col-4">
          <h2 class="font-weight-bold">SKS</h2>
          <h4>{{ course.sks }}</h4>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-8">
          <h2 class="font-weight-bold">Term</h2>
          <h4>{{ course.term }}</h4>
        </div>
        <div class="col-4">
          <h2 class="font-weight-bold">Room</h2>
          <h4>{{ course.room }}</h4>
        </div>  
        <div class="ml-3 mt-4" style="display: block; max-width: 100%; overflow-wrap: break-word;">
          <h2 class="font-weight-bold">Description</h2>
          <h4 class="text-break">{{ course.desc }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}