<!DOCTYPE html>
{% load static %}
<html>
  <body>
    {% include 'story5/_navbar.html' %}
    <div class="container">	
      <div class="row justify-content-center">
        <div class="col-8 pt-2">
          <h1 class="mt-4">Courses</h1>
          <hr class="mt-0 mb-4">
        </div>
        {% if data.first != None %}
        <table class="table table-striped table-light table-responsive-lg mb-4">
          <tr style="background-color: rgb(56, 174, 220); color: white;">
            <th scope="col" class="mw-100">Course Name</th>
            <th scope="col" class="mw-100">Lecturer Name</th>
            <th scope="col">SKS</th>
            <th scope="col">Term</th>
            <th scope="col">Room</th>
            <th scope="col" class="text-center w-auto">Action</th>
          </tr>
          {% for course in data %}
            <tr>
              <td><a class="text-dark" href="{% url 'story5:show' course.id %}">{{ course.course }}</a></td>
              <td>{{ course.lecturer }}</td>
              <td>{{ course.sks }}</td>
              <td>{{ course.term }}</td>
              <td>{{ course.room }}</td>
              <td>
                <div class="row-lg d-flex justify-content-center">
                  <a class="btn btn-primary btn-sm mx-1" href="{% url 'story5:update' course.id %}">
                    <span class="material-icons">edit</span>
                  </a>
                  <form action="{% url 'story5:delete' course.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm mx-1" type="submit">
                      <span class="material-icons">delete</span>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
        <div class="col-8 text-black-50">
          <h4>You have no courses yet...😄</h4>
        </div>
        {% endif %}
      </div>
    </div>
    <script>
      $("#co").addClass('active');
    </script>
  </body>
</html>