body {
    background-color: rgb(56, 174, 220);
}
.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
.index {
    margin-top: 100px;
}
.home {
    width: 100%;
    text-align: center;
    padding: 160px 0;
}
.home h3 {
    font-size: 100px;
    color: white;
    font-weight: 700;
}
.about {
    display: inline-block;
    width: 100%;
    padding: 125px 0;
    margin: 20px 0;
    color: white;
    transition: all 1s;
}
.about img {
    width: 475px;
    padding: 20px 0 0 14px;
}
.a-left {
    float: left;
    padding-left: 100px;
}
.border {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 12px solid white;
    margin: 0 0 50px 30px;
}
.border h1 {
    margin: 10px 0 -25px 10px;
    padding: 0 0 0 10px;
    font-size: 60px;
}
.a-right {
    width: 650px;
    float: right;
    margin: 25px 200px 0 0;
    word-wrap: break-word;
}
.a-right p {
    font-size: 25px;
}
.profile {
    width: 100%;
    padding: 50px 0 100px 0;
    margin: 20px 0 50px 0;
    color: white;
    transition: all 1s;
    text-align: center;
    align-items: center;
}
.profile h1 {
    font-size: 60px;
}
.profile .p-table {
    width: 1200px;
    height: 300px;
    margin: 0 150px;
    padding-top: 50px;
    background-color: white;
    border-radius: 25px;
}
.profile table, th, td {
    background-color: white;
    border-spacing: 0;
    text-align: left;
    vertical-align: super;
}
.profile table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    height: 90%;
}
.profile th {
    min-width: 250px;
    padding-right: 75px;
    color: rgb(56, 174, 220);
    font-size: 40px;
    height: 30px;
}
.profile td {
    color: black;
    font-size: 25px;
    padding: 0;
}
.profile td ul {
    margin: 0;
    padding-left: 30px;
}