<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/story1/navbar.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li id="irfancen"><a href="/">irfancen</a></li>
                <div class="social">
                    <li><a href="https://youtube.com/channel/UCUBJWyC1qJkg-t70SDTBBYQ" target="_blank"><img src="/static/story1/icons/youtube.png"></a></li>
                    <li><a href="http://linkedin.com/in/mirfanjunaidi" target="_blank"><img src="/static/story1/icons/linkedin.png"></a></li>
                    <li><a href="http://instagram.com/irfancen" target="_blank"><img src="/static/story1/icons/instagram.png"></a></li>
                    <li><a href="https://twitter.com/irfancen_" target="_blank"><img src="/static/story1/icons/twitter.png"></a></li>
                    <li><a href="http://facebook.com/irfancen" target="_blank"><img src="/static/story1/icons/facebook.png"></a></li>
                </div>
                <div class="links">
                    <li><a href="#Profile" onclick="smoothScroll(document.getElementById('profile'))">Profile</a></li>
                    <li><a href="#About" onclick="smoothScroll(document.getElementById('about'))">About Me</a></li>
                    <li><a href="#Home" onclick="smoothScroll(document.getElementById('home'))">Home</a></li>
                </div>
            </ul>
        </div>
        <script>
            var prevScrollpos = window.pageYOffset;
            window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
                if (prevScrollpos >= currentScrollPos) {
                    document.getElementById("navbar").style.top = "0";
                }
                else {
                    document.getElementById("navbar").style.top = "-100px";
              }
              prevScrollpos = currentScrollPos;
            }
            </script>
            <script src="{% static '/story1/navbar.js' %}"></script>
    </body>
</html>